@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	--sl-color-primary-50: #E6F2EC;
	--sl-color-primary-100: #C2DDCE;
	--sl-color-primary-200: #9EC9B0;
	--sl-color-primary-300: #7AB593;
	--sl-color-primary-400: #56A176;
	--sl-color-primary-500: #2E8B57;
	--sl-color-primary-600: #26734A;
	--sl-color-primary-700: #1F5C3D;
	--sl-color-primary-800: #174530;
	--sl-color-primary-900: #0F2E23;
	--sl-color-primary-950: #071715;

	--sm-seafoam-green: #2E8B57;
	--sm-hover-green: #A0EB9F;
	--sm-active-green: #21C568;
}

body {
	background: var(--sl-color-neutral-50);
	font-family: 'Roboto', sans-serif;
}
